.modal-overlay {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.combat-modal {
    margin-top: 15px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#body {
    margin-top: 175px;
}

.modal-content {
    position: fixed;
    top: 0;
    left: 50%;
}

.modal-buttons {
    margin-top: 5px;
}

#combatant-list-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Vertically */
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

.combatant-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.info-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    flex-grow: 1;
}

.dead {
    flex-basis: 100%;

}

.damage-button {
    display: inline-block;
    width: 50px;
    margin: 5px 5px 5px 15px;
}

.health-button {
    display: inline-block;
    width: 50px;
    margin: 5px 5px 5px 15px;
}

.input-box {
    display: inline-block;
    width: 50px;
    margin: 5px 5px 5px 15px;
}